<h1>Welcome to Wonders of the World!</h1>
<% @locations.each do |location| %>
    <ul>
    <%= link_to location.continent%> 
    <%= link_to location.country_name%>
    <%= link_to location.city_name%>
    </ul>
<% end %>
<footer>
    <%= button_to "Logout", :controller=> "sessions", :action=> "destroy"%>
    </footer>